USE [master]
GO
/****** Object:  Database [QuanLyPhongKham]    Script Date: 5/9/2018 4:26:15 AM ******/
CREATE DATABASE [QuanLyPhongKham]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyPhongKham', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyPhongKham.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyPhongKham_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyPhongKham_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongKham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongKham]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/9/2018 4:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Account](
	[UserName] [nchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[EmployeeID] [int] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClinicalExamination]    Script Date: 5/9/2018 4:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicalExamination](
	[ClinicalExaminationTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nchar](10) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_ClinicalExaminationType] PRIMARY KEY CLUSTERED 
(
	[ClinicalExaminationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClinicalExaminationResult]    Script Date: 5/9/2018 4:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicalExaminationResult](
	[ClinicalExaminationResultID] [int] IDENTITY(1,1) NOT NULL,
	[ClinicalExaminationID] [int] NOT NULL,
	[Result] [nvarchar](500) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[ExaminationResultID] [int] NOT NULL,
 CONSTRAINT [PK_ClinicalExamination] PRIMARY KEY CLUSTERED 
(
	[ClinicalExaminationResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Drug]    Script Date: 5/9/2018 4:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drug](
	[DrugID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Price] [money] NOT NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK_Drug] PRIMARY KEY CLUSTERED 
(
	[DrugID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/9/2018 4:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[BirthDay] [date] NOT NULL,
	[IdentifyCard] [nchar](10) NOT NULL,
	[Phone] [nchar](11) NOT NULL,
	[Position] [int] NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExaminationResult]    Script Date: 5/9/2018 4:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExaminationResult](
	[ExaminationResultID] [int] IDENTITY(1,1) NOT NULL,
	[Time] [datetime] NOT NULL,
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[DispenserID] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Result] [nvarchar](50) NULL,
 CONSTRAINT [PK_ExaminationResult] PRIMARY KEY CLUSTERED 
(
	[ExaminationResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PartientOfDay]    Script Date: 5/9/2018 4:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartientOfDay](
	[PartientID] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_PartientOfDay] PRIMARY KEY CLUSTERED 
(
	[Number] ASC,
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patient]    Script Date: 5/9/2018 4:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[IdentifyCard] [nchar](10) NULL,
	[Phone] [nchar](11) NULL,
	[Address] [nvarchar](250) NULL,
	[Gender] [bit] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PrescriptionDetail]    Script Date: 5/9/2018 4:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionDetail](
	[PrescriptionDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ExaminationResultID] [int] NOT NULL,
	[DrugID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Day] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [money] NULL,
	[Dosage] [nvarchar](50) NULL,
	[Usage] [nvarchar](50) NULL,
 CONSTRAINT [PK_PrescriptionDetail] PRIMARY KEY CLUSTERED 
(
	[PrescriptionDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room]    Script Date: 5/9/2018 4:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[Room] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeOfDrug]    Script Date: 5/9/2018 4:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfDrug](
	[TypeOfDrugID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_TypeOfDrug] PRIMARY KEY CLUSTERED 
(
	[TypeOfDrugID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkSchedule]    Script Date: 5/9/2018 4:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedule](
	[WorkScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
 CONSTRAINT [PK_WorkSchedule] PRIMARY KEY CLUSTERED 
(
	[WorkScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([UserName], [Password], [EmployeeID]) VALUES (N'admin               ', N'admin', 1)
INSERT [dbo].[Account] ([UserName], [Password], [EmployeeID]) VALUES (N'duclt               ', N'123456', 2)
SET IDENTITY_INSERT [dbo].[Drug] ON 

INSERT [dbo].[Drug] ([DrugID], [Name], [Description], [Price], [TypeID]) VALUES (4, N'Fentanyl', N'Injectable Tiêm; ống 0,1mg/2ml', 15000.0000, 1)
INSERT [dbo].[Drug] ([DrugID], [Name], [Description], [Price], [TypeID]) VALUES (6, N'Halothan  ', N'Respiratory Đường hô hấp; lọ 250ml', 2000.0000, 1)
INSERT [dbo].[Drug] ([DrugID], [Name], [Description], [Price], [TypeID]) VALUES (7, N'Ketamin   ', N'Ịnjectable Tiêm; 50mg/ml ống 10ml ', 2500.0000, 1)
SET IDENTITY_INSERT [dbo].[Drug] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [MiddleName], [BirthDay], [IdentifyCard], [Phone], [Position], [Address], [Gender], [Active]) VALUES (1, N'Nguyễn ', N'An', N'Văn', CAST(0x241A0B00 AS Date), N'1245124651', N'01664247985', 1, N'245 Q3 TpHCM', 1, 1)
INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [MiddleName], [BirthDay], [IdentifyCard], [Phone], [Position], [Address], [Gender], [Active]) VALUES (2, N'Luong', N'Thành', N'Đức', CAST(0x5F160B00 AS Date), N'2145412486', N'0909451468 ', 2, N'26e Q9 TpHCM', 0, 1)
INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [MiddleName], [BirthDay], [IdentifyCard], [Phone], [Position], [Address], [Gender], [Active]) VALUES (3, N'Tri', N'Nguyen', N'Dang', CAST(0x7A1E0B00 AS Date), N'2132312312', N'02321312132', 3, N'12 Nguyen Van troi', 1, 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[ExaminationResult] ON 

INSERT [dbo].[ExaminationResult] ([ExaminationResultID], [Time], [PatientID], [DoctorID], [DispenserID], [Description], [Result]) VALUES (1, CAST(0x0000A89D00000000 AS DateTime), 1, 1, 1, N'Viêm dạ dày', N'Viêm loét dạ dày')
INSERT [dbo].[ExaminationResult] ([ExaminationResultID], [Time], [PatientID], [DoctorID], [DispenserID], [Description], [Result]) VALUES (2, CAST(0x0000A8DB003F9DE2 AS DateTime), 1, 0, 0, N'Cảm sốt', N'Cảm cúm')
INSERT [dbo].[ExaminationResult] ([ExaminationResultID], [Time], [PatientID], [DoctorID], [DispenserID], [Description], [Result]) VALUES (3, CAST(0x0000A8DB003FD2CF AS DateTime), 1, 2, 0, N'Cảm sốt', N'Cảm cúm')
SET IDENTITY_INSERT [dbo].[ExaminationResult] OFF
INSERT [dbo].[PartientOfDay] ([PartientID], [Number], [RoomID], [Status]) VALUES (1, 1, 1, 1)
INSERT [dbo].[PartientOfDay] ([PartientID], [Number], [RoomID], [Status]) VALUES (2, 1, 2, 0)
INSERT [dbo].[PartientOfDay] ([PartientID], [Number], [RoomID], [Status]) VALUES (3, 1, 3, 0)
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([PatientID], [FirstName], [LastName], [MiddleName], [IdentifyCard], [Phone], [Address], [Gender]) VALUES (1, N'Ân', N'Nguyễn', N'Đắc Hồng', N'154847849 ', N'01664348980', N'Gò vấp TpHCM', 0)
INSERT [dbo].[Patient] ([PatientID], [FirstName], [LastName], [MiddleName], [IdentifyCard], [Phone], [Address], [Gender]) VALUES (2, N'Phan', N'Thằng', N'Đức', N'245146847 ', N'0909465874 ', N'Thủ đức', 1)
INSERT [dbo].[Patient] ([PatientID], [FirstName], [LastName], [MiddleName], [IdentifyCard], [Phone], [Address], [Gender]) VALUES (3, N'Nguyen', N'Tri', N'Dang', N'123123134 ', N'09334143234', N'Go vap', 1)
SET IDENTITY_INSERT [dbo].[Patient] OFF
SET IDENTITY_INSERT [dbo].[PrescriptionDetail] ON 

INSERT [dbo].[PrescriptionDetail] ([PrescriptionDetailID], [ExaminationResultID], [DrugID], [Quantity], [Day], [Description], [Price], [Dosage], [Usage]) VALUES (4, 1, 4, 4, 3, N'Trị Viêm', 25000.0000, N'Dosaque do', N'Usaqeu')
SET IDENTITY_INSERT [dbo].[PrescriptionDetail] OFF
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomID], [Room]) VALUES (1, N'XN-01     ')
INSERT [dbo].[Room] ([RoomID], [Room]) VALUES (2, N'PK-RHM    ')
INSERT [dbo].[Room] ([RoomID], [Room]) VALUES (3, N'PK-TMH    ')
SET IDENTITY_INSERT [dbo].[Room] OFF
SET IDENTITY_INSERT [dbo].[TypeOfDrug] ON 

INSERT [dbo].[TypeOfDrug] ([TypeOfDrugID], [Type], [Description]) VALUES (1, N'THUỐC GÂY MÊ, TÊ', N'Bao gồm các nhóm Thuốc gây mê và oxygen, Thuốc gây tê tại chỗ,Thuốc tiền mê')
INSERT [dbo].[TypeOfDrug] ([TypeOfDrugID], [Type], [Description]) VALUES (2, N'THUỐC GIẢM ĐAU, HẠ SỐT, NHÓM CHỐNG VIÊM ', N'Bao gồm các nhóm Thuốc giảm đau không có opi, hạ sốt, chống viêm không steroid,  Thuốc giảm đau loại opi,Thuốc điều trị bệnh gút')
INSERT [dbo].[TypeOfDrug] ([TypeOfDrugID], [Type], [Description]) VALUES (3, N'THUỐC CHỐNG DỊ ỨNG', N'Bao gồm các nhóm thuốc chống dị ứng và trường hợp quá mẫn cảm với thuốc')
SET IDENTITY_INSERT [dbo].[TypeOfDrug] OFF
SET IDENTITY_INSERT [dbo].[WorkSchedule] ON 

INSERT [dbo].[WorkSchedule] ([WorkScheduleID], [DoctorID], [RoomID], [StartTime], [EndTime]) VALUES (3, 2, 1, CAST(0x0000A9530083D600 AS DateTime), CAST(0x0000A95300C5C100 AS DateTime))
INSERT [dbo].[WorkSchedule] ([WorkScheduleID], [DoctorID], [RoomID], [StartTime], [EndTime]) VALUES (6, 2, 2, CAST(0x0000A95300DE7920 AS DateTime), CAST(0x0000A95301206420 AS DateTime))
INSERT [dbo].[WorkSchedule] ([WorkScheduleID], [DoctorID], [RoomID], [StartTime], [EndTime]) VALUES (7, 2, 3, CAST(0x0000A8DA0128A180 AS DateTime), CAST(0x0000A8DA018B3BB0 AS DateTime))
SET IDENTITY_INSERT [dbo].[WorkSchedule] OFF
/****** Object:  Index [IX_Employee]    Script Date: 5/9/2018 4:26:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Employee] ON [dbo].[Employee]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Employee]
GO
ALTER TABLE [dbo].[ClinicalExaminationResult]  WITH CHECK ADD  CONSTRAINT [FK_ClinicalExamination_ExaminationResult] FOREIGN KEY([ExaminationResultID])
REFERENCES [dbo].[ExaminationResult] ([ExaminationResultID])
GO
ALTER TABLE [dbo].[ClinicalExaminationResult] CHECK CONSTRAINT [FK_ClinicalExamination_ExaminationResult]
GO
ALTER TABLE [dbo].[ClinicalExaminationResult]  WITH CHECK ADD  CONSTRAINT [FK_ClinicalExaminationResult_ClinicalExamination] FOREIGN KEY([ClinicalExaminationID])
REFERENCES [dbo].[ClinicalExamination] ([ClinicalExaminationTypeID])
GO
ALTER TABLE [dbo].[ClinicalExaminationResult] CHECK CONSTRAINT [FK_ClinicalExaminationResult_ClinicalExamination]
GO
ALTER TABLE [dbo].[Drug]  WITH CHECK ADD  CONSTRAINT [FK_Drug_TypeOfDrug] FOREIGN KEY([TypeID])
REFERENCES [dbo].[TypeOfDrug] ([TypeOfDrugID])
GO
ALTER TABLE [dbo].[Drug] CHECK CONSTRAINT [FK_Drug_TypeOfDrug]
GO
ALTER TABLE [dbo].[ExaminationResult]  WITH CHECK ADD  CONSTRAINT [FK_ExaminationResult_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[ExaminationResult] CHECK CONSTRAINT [FK_ExaminationResult_Patient]
GO
ALTER TABLE [dbo].[PartientOfDay]  WITH CHECK ADD  CONSTRAINT [FK_PartientOfDay_Patient] FOREIGN KEY([PartientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[PartientOfDay] CHECK CONSTRAINT [FK_PartientOfDay_Patient]
GO
ALTER TABLE [dbo].[PrescriptionDetail]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionDetail_Drug] FOREIGN KEY([DrugID])
REFERENCES [dbo].[Drug] ([DrugID])
GO
ALTER TABLE [dbo].[PrescriptionDetail] CHECK CONSTRAINT [FK_PrescriptionDetail_Drug]
GO
ALTER TABLE [dbo].[PrescriptionDetail]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionDetail_ExaminationResult] FOREIGN KEY([ExaminationResultID])
REFERENCES [dbo].[ExaminationResult] ([ExaminationResultID])
GO
ALTER TABLE [dbo].[PrescriptionDetail] CHECK CONSTRAINT [FK_PrescriptionDetail_ExaminationResult]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_Employee1] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_Employee1]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_Room1] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_Room1]
GO
USE [master]
GO
