
@{
    ViewBag.Title = "Index";
}

<div class="main-content-inner" ng-controller="MyPatientController">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">My Patients</li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">
        <h1>
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                My Patients
            </small>
        </h1>

        <div class="page-header">
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="clearfix">
                            <div class="pull-right tableTools-container"></div>
                        </div>
                        <div class="table-header">
                            Patients List
                        </div>
                        <table datatable="ng" dt-options="dtOptions" id="tbl" class="table  table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                        <label class="pos-rel">
                                            #
                                        </label>
                                    </th>
                                    <th>Identify Card</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr ng-repeat="x in patients" id="{{x.PatientID}}">
                                    <td ng-bind="$index + 1"></td>
                                    <td ng-bind="x.IdentifyCard"></td>
                                    <td>{{x.LastName}} {{x.MiddleName}} {{x.FirstName}}</td>
                                    <td>{{x.Gender?'Male':'Female'}}</td>
                                    <td ng-bind="x.Phone"></td>
                                    <td ng-bind="x.Address"></td>
                                    <td class="text-center">
                                        <button class="btn btn-danger btn-sm" ng-click="showModal(x.PatientID)" ng-class="{disabled:x.Status}" ng-disabled="x.Status">{{x.Status?'Đã Khám':'Khám'}}</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <!-- <button class="btn btn-info" ng-click="showModal(0)">Add</button>
                    </div><!-- /.span -->
                        <!-- Xử lý hiển thị số phân trang -->
                    </div><!-- /.row -->
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.page-content -->
        <!-- Modal -->
        <div id="PrescriptionModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modalTitle">Phiếu khám bệnh</h4>
                    </div>
                    <div class="modal-body">
                        <h4 style="padding-bottom:10px;">Thông tin bệnh nhân</h4>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-6">CMND: {{IdentifyCard}}</label>
                                <label class="col-sm-6">Tên bệnh nhân: {{LastName}} {{MiddleName}} {{FirstName}}</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6">Giới tính: {{Gender?'Nam':'Nữ'}}</label>
                                <label class="col-sm-6">Sđt: {{Phone}} </label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Địa chỉ:  {{Address}}</label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3">Kết quả khám bệnh:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="Result" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 ">Ghi chú:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="Description" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <h4>Toa thuốc <span class="pull-right"><i class="fa fa-plus " aria-hidden="true" ng-click="addNewPrescription()"></i></span></h4>
                        <table class="table table-bordered">
                            <tr>
                                <th>Tên thuốc</th>
                                <th>Số lượng</th>
                                <th>Số ngày</th>
                                <th>Ghi chú</th>
                                <th>Liều lượng</th>
                                <th>Cách sử dụng</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="p in prescriptionDetails">
                                <td><select ng-model="p.DrugID" ng-options="y.Name for (x,y) in drugs" class="form-control" style="width:auto"></select></td>
                                <td><input type="number" class="form-control" ng-model="p.Quantity" /></td>
                                <td><input type="number" class="form-control" ng-model="p.Day" /></td>
                                <td><input type="text" class="form-control" ng-model="p.Description" /></td>
                                <td><input type="text" class="form-control" ng-model="p.Dosage" /></td>
                                <td><input type="text" class="form-control" ng-model="p.Usage" /></td>
                                <td><i class="fa fa-minus " aria-hidden="true" ng-click="removePrescription($index)"></i></td>
                            </tr>
                        </table>
                      </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="saveData()" id="btnAddAction">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

