
@{
    ViewBag.Title = "Quản lý thuốc";
}

<div class="main-content-inner" ng-controller="DrugController">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li class="active">Quản lý thuốc</li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">
        <div class="nav-search pull-right" id="nav-search">
            <div class="col-md-9" style="margin-top: 10px;">
                <button type="button" class="btn btn-info" ng-click="showModal(0)" >
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Thêm thuốc
                </button>
            </div>
        </div><!-- /.nav-search -->
        <h1>
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Quản lý thuốc
            </small>
        </h1>

        <div class="page-header">
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="clearfix">
                            <div class="pull-right tableTools-container"></div>
                        </div>
                        <div class="table-header">
                            Danh sách thuốc
                        </div>
                        <table datatable="ng" dt-options="dtOptions" id="tbl" class="table  table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                        <label class="pos-rel">
                                            #
                                        </label>
                                    </th>
                                    <th>Tên thuốc</th>
                                    <th>Mô tả</th>
                                    <th>Giá</th>
                                    <th>Loại thuốc</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr ng-repeat="x in drugs" id="{{x.DrugID}}">
                                    <td ng-bind="$index + 1"></td>
                                    <td ng-bind="x.Name"></td>
                                    <td ng-bind="x.Description"></td>
                                    <td ng-bind="x.Price"></td>
                                    <td ng-bind="x.Type.Type"></td>

                                    <td class="text-center">
                                        <button class="btn btn-danger btn-sm"  ng-click="showModal(x.DrugID)"><i class=" fa fa-pencil-square-o"></i></button>
                                    </td>
                                    
                                </tr>

                            </tbody>

                        </table>
                        <!-- <button class="btn btn-info" ng-click="showModal(0)">Add</button>
                        </div><!-- /.span -->
                        <!-- Xử lý hiển thị số phân trang -->




                    </div><!-- /.row -->
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.page-content -->
        <!-- Modal -->
        <div id="DrugModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tên thuốc:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Mô tả:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="Description" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Giá:</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" ng-model="Price" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Loại thuốc:</label>
                                <div class="col-sm-9">
                                    <select ng-model="Type" ng-options="y.Type for (x,y) in types" class="form-control"></select>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-disabled="Name == '' || Price <= 0" ng-class="{disable:(Name == '' || Price <= 0)}" ng-click="saveData()" id="btnAddAction">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

