
@{
    ViewBag.Title = "Quản lý bệnh nhân";
}

<div class="main-content-inner" ng-controller="PatientController">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li class="active">Quản lý bệnh nhân</li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">
        <div class="nav-search pull-right" id="nav-search">
            <div class="col-md-9" style="margin-top: 10px;">
                <button type="button" class="btn btn-info" ng-click="showModal(0)">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Thêm bệnh nhân
                </button>
            </div>
        </div><!-- /.nav-search -->
        <h1>
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Quản lý bệnh nhân
            </small>
        </h1>

        <div class="page-header">
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="clearfix">
                            <div class="pull-right tableTools-container"></div>
                        </div>
                        <div class="table-header">
                            Danh sách bệnh nhân
                        </div>
                        <table datatable="ng" dt-options="dtOptions" id="tbl" class="table  table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                        <label class="pos-rel">
                                            #
                                        </label>
                                    </th>
                                    <th>CMND</th>
                                    <th>Họ Tên</th>
                                    <th>Giới tính</th>
                                    <th>SĐT</th>
                                    <th>Địa chỉ</th>
                                    <th class="center" style="width:200px">Actions</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr ng-repeat="x in patients" id="{{x.PatientID}}">
                                    <td ng-bind="$index + 1"></td>
                                    <td ng-bind="x.IdentifyCard"></td>
                                    <td>{{x.LastName}} {{x.MiddleName}} {{x.FirstName}}</td>
                                    <td>{{x.Gender?'Nam':'Nữ'}}</td>
                                    <td ng-bind="x.Phone"></td>
                                    <td ng-bind="x.Address"></td>
                                    <td class="text-center">
                                        <button class="btn btn-danger btn-sm" ng-click="showModal(x.PatientID)"><i class= " fa fa-pencil-square-o"></i></button>
                                       @if (ViewBag.userRole == 3)
                                       {    <button  class="btn btn-success btn-sm" data-toggle="tooltip" 
                                            title="{{x.Number == 0 ? '' : 'Number: '+x.Number + '\nRoom: ' + x.Room}}" 
                                            ng-class="{disabled:x.Number != 0}" ng-click="getNumber(x.PatientID)" 
                                            ng-disabled="x.Number != 0">Get Number</button>
                                        }
                                    </td>


                                </tr>

                            </tbody>

                        </table>
                        <!-- <button class="btn btn-info" ng-click="showModal(0)">Add</button>
                        </div><!-- /.span -->
                        <!-- Xử lý hiển thị số phân trang -->




                    </div><!-- /.row -->
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.page-content -->
        <!-- Modal -->
        <div id="PatientModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">CMND:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="IdentifyCard" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Họ:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="LastName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tên đệm:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="MiddleName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tên:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="FirstName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Giới tính:</label>
                                <div class="col-sm-9">
                                    <input type="radio" ng-model="Gender" value="Nam" name="Gender">Nam
                                    <input type="radio" ng-model="Gender" value="Nữ" name="Gender">Nữ

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">SĐT:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="Phone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Địa chỉ:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="Address" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-disabled="FirstName == '' || LastName == '' || IdentifyCard == ''" 
                                ng-class="{disable:(FirstName == '' || LastName == '' || IdentifyCard == '') }"
                                ng-click="saveData()" id="btnAddAction">Thêm</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="MessageBox" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                   
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-sm-6 control-label">Số thứ tự:</label>
                            <label class="col-sm-6 control-label">{{Number}}</label>
                            <label class="col-sm-6 control-label">Phòng:</label>
                            <label class="col-sm-6 control-label">{{Room}}</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-xs" ng-click="OK()">OK</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

