
@{
    ViewBag.Title = "Quản lý toa thuốc";
}

<div class="main-content-inner" ng-controller="PrescriptionController">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li class="active">Quản lý toa thuốc</li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">

        <h1>
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Quản lý toa thuốc
            </small>
        </h1>

        <div class="page-header">
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="clearfix">
                            <div class="pull-right tableTools-container"></div>
                        </div>
                        <p ng-if="prescriptions.length == 0"></p>
                        <div ng-repeat="e in prescriptions_admin">
                            <div class="table-header" data-toggle="collapse" ng-attr-data-target="#{{e.ExaminationResultID}}">
                                <h5>Ngày: {{e.Time}} - Bệnh nhân: {{e.Patient.LastName}} {{e.Patient.MiddleName}} {{e.Patient.FirstName}} - Kết quả: <span title="{{e.Description}}">{{e.Result}}</span> - Bác sĩ: {{e.Doctor.LastName}} {{e.Doctor.MiddleName}} {{e.Doctor.FirstName}}</h5>
                            </div>
                            <div class="collapse" id="{{e.ExaminationResultID}}">
                                <table class="table table-bordered" ng-init="Total = 0;">
                                    <tr>
                                        <th>#</th>
                                        <th>Tên thuốc</th>
                                        <th>Số lượng</th>
                                        <th>Số Ngày</th>
                                        <th>Ghi chú </th>
                                        <th>Liều lượng</th>
                                        <th>Cách sử dụng</th>
                                        <th>Đơn giá</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                    <tr ng-repeat="p in e.listpd">
                                        <td ng-bind="$index + 1"></td>
                                        <td ng-bind="p.DrugName"></td>
                                        <td ng-bind="p.Quantity"></td>
                                        <td ng-bind="p.Day"></td>
                                        <td ng-bind="p.Description"></td>
                                        <td ng-bind="p.Dosage"></td>
                                        <td ng-bind="p.Usage"></td>
                                        <td ng-bind="p.Price"></td>
                                        <td ng-init="itemTotal = p.Price * p.Quantity; $parent.Total = $parent.Total + itemTotal ">{{itemTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="100%">
                                            <b>
                                                Tổng tiền: {{Total}}
                                                @if (ViewBag.userRole == 4)
                                                {<span class="pull-right btn btn-primary" ng-click="phatThuoc(e)">Phát thuốc</span>
                                                }
                                            </b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- <button class="btn btn-info" ng-click="showModal(0)">Add</button>
                        </div><!-- /.span -->
                        <!-- Xử lý hiển thị số phân trang -->




                    </div><!-- /.row -->
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.page-content -->
        <!-- Modal -->
    </div>
</div>
