
@{
    ViewBag.Title = "Prescriptions";
}

<div class="main-content-inner" ng-controller="PrescriptionController">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Management of Prescriptions</li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">
        
        <h1>
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Management of Prescriptions
            </small>
        </h1>

        <div class="page-header">
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="clearfix">
                            <div class="pull-right tableTools-container"></div>
                        </div>
                           <p ng-if="prescriptions.length == 0"></p>
                        <div ng-repeat="e in prescriptions" >
                            <div class="table-header" data-toggle="collapse" ng-attr-data-target="#{{e.ExaminationResultID}}">
                                <h5>Bệnh nhân: {{e.Patient.LastName}} {{e.Patient.MiddleName}} {{e.Patient.FirstName}} - Kết quả: <span title="{{e.Description}}">{{e.Result}}</span> - Bác sĩ: {{e.Doctor.LastName}} {{e.Doctor.MiddleName}} {{e.Doctor.FirstName}}</h5>
                            </div>
                            <div class="collapse" id="{{e.ExaminationResultID}}">
                                <table class="table table-bordered" ng-init="Total = 0;">
                                    <tr>
                                        <th>#</th>
                                        <th>Tên thuốc</th>
                                        <th>Số lượng</th>
                                        <th>Ghi chú</th>
                                        <th>Đơn giá</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                    <tr ng-repeat="p in e.listpd">
                                        <td ng-bind="$index + 1"></td>
                                        <td ng-bind="p.DrugName"></td>
                                        <td ng-bind="p.Quantity"></td>
                                        <td ng-bind="p.Description"></td>
                                        <td ng-bind="p.Price"></td>
                                        <td  ng-init="itemTotal = p.Price * p.Quantity; $parent.Total = $parent.Total + itemTotal ">{{itemTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="100%">
                                            <b>
                                                Tổng tiền: {{Total}}
                                               @if (ViewBag.userRole == 4)
                                               {<span class="pull-right btn btn-primary" ng-click="phatThuoc(e)">Phát thuốc</span>
                                               }
                                            </b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- <button class="btn btn-info" ng-click="showModal(0)">Add</button>
                        </div><!-- /.span -->
                        <!-- Xử lý hiển thị số phân trang -->




                    </div><!-- /.row -->
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.page-content -->
        <!-- Modal -->
        <div id="PrescriptionModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Patient Name:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="PatientName" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Description:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="Description" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Doctor Name:</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" ng-model="DoctorName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Dispenser:</label>
                                <div class="col-sm-9">
                                    <select ng-model="Dispenser" ng-options="y.Dispenser for (x,y) in dispenser" class="form-control"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-disabled="Description != ''" ng-class="{disable:(Description != '')}" ng-click="saveData()" id="btnAddAction">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

