
@{
    ViewBag.Title = "Prescriptions";
}

<div class="main-content-inner" ng-controller="PrescriptionController">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Management of Prescriptions</li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">
        
        <h1>
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Management of Prescriptions
            </small>
        </h1>

        <div class="page-header">
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="clearfix">
                            <div class="pull-right tableTools-container"></div>
                        </div>
                        <div class="table-header">
                            Prescriptions List
                        </div>
                        <table datatable="ng" dt-options="dtOptions" id="tbl" class="table  table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                        <label class="pos-rel">
                                            #
                                        </label>
                                    </th>
                                    <th>Patient Name</th>
                                    <th>Description</th>
                                    <th>Doctor Name</th>
                                    <th>Dispenser Name</th>
                                    <th class="center">Actions</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr ng-repeat="x in prescriptions" id="{{x.ExaminationResultID}}">
                                    <td ng-bind="$index + 1"></td>
                                    <td>{{x.Patient.LastName}} {{x.Patient.MiddleName}} {{x.Patient.FirstName}}</td>
                                    <td ng-bind="x.Description"></td>
                                    <td>{{x.Doctor.LastName}} {{x.Doctor.MiddleName}} {{x.Doctor.FirstName}}</td>
                                    <td>{{x.Dispenser.LastName}} {{x.Dispenser.MiddleName}} {{x.Dispenser.FirstName}}</td>

                                    <td class="text-center">
                                        <button class="btn btn-danger btn-sm" ng-click="showModal(x.ExaminationResultID)"><i class=" fa fa-pencil-square-o"></i></button>
                                    </td>

                                </tr>

                            </tbody>

                        </table>
                        <!-- <button class="btn btn-info" ng-click="showModal(0)">Add</button>
                        </div><!-- /.span -->
                        <!-- Xử lý hiển thị số phân trang -->




                    </div><!-- /.row -->
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.page-content -->
        <!-- Modal -->
        <div id="PrescriptionModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Patient Name:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="PatientName" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Description:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="Description" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Doctor Name:</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" ng-model="DoctorName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Dispenser:</label>
                                <div class="col-sm-9">
                                    <select ng-model="Dispenser" ng-options="y.Dispenser for (x,y) in dispenser" class="form-control"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-disabled="Description != ''" ng-class="{disable:(Description != '')}" ng-click="saveData()" id="btnAddAction">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

